* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    background: black;
    color: white;
}

.linkList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 15px;
}

.linkList li{
    margin: 5px;
    cursor: pointer;
}

.cartContainer {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin-top: -23px;
}

.cartIcon {
    width: 30px;
    height: auto;
    margin-top: 5px;
}

.cartText {
    color: black;
}

h1 {
    font-size: 40x;
}
