* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background: rgb(237,23,75);
    background: linear-gradient(90deg, rgba(237,23,75,1) 0%, rgba(0,107,183,1) 36%); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.linkList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 15px;
}

.linkList li{
    margin: 5px;
    cursor: pointer;
}

.linkList li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.counterContainer{
    display: flex;
    flex-direction: row;
}

.cardContainer{
    display: flex;

}

.containerLogo img{
    width: 80px;
    height: auto;
    margin-bottom: -13px;
}
