.cartContainer{
    margin-top: 10px;
}

.cartItem{
    display: flex;
}

.cartItemText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pictureCart{
    width: 150px;
    height: auto;
}